<div class="container">
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class=" float-center navbar-brand" href="#">BlackJack.NET</a>
    </div>
  </nav>
</div>